<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>MetaDataAngular Phonebook</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>
<script type="text/javascript" src="/scripts/phonebook/phonebook.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous"></link>
</head>
<body class="text-center">
	<h1 class="text-center">MetaData PhoneBook</h1>
	<div ng-app="phonebook" ng-controller="PhonebookController">
		<form class="text-center">
			<div class="form-group" >
				<label for="newNameId">Name&nbsp;</label> <input id="newNameId"
					type="text" ng-model="newName" aria-describedby="basic-addon1" />
				<label for="newNumberId">Number&nbsp;</label> <input
					id="newNumberId" type="number" ng-model="newNumber"
					aria-describedby="basic-addon1" />
				<button class="btn btn-default" ng-click="addUser()">Add User</button>
				<button class="btn btn-default" ng-click="addServerUser()">Add Server User</button>
			</div>
		</form>
		<div>
			<table class="table table-striped table-bordered">
				<tr>
					<th class="text-center">NAME</th>
					<th class="text-center">NUMBER</th>
					<th class="text-center">DELETE</th>
				</tr>
				<tr ng-repeat="data in currentList">
					<td>{{data.name}}</td>
					<td>{{data.number}}</td>
					<td><button ng-click="deleteRecord(data.name,data.number)">
							<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
						</button></td>
				</tr>
			</table>
		</div>
	</div>
</body>

<style>
h1,th,label {
	color: blue;
}

</style>
</html>